* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.header {
   position: fixed;
   height: 60px;
   width: 100%;
   background-color: snow;
   z-index: 100;
   box-shadow: 0 6px 10px rgba(171, 171, 171, 0.479);
}
.heder-content{
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    flex-wrap: nowrap;
    height: 100%;
}
.logo {
    flex-grow: 1;
    align-items: center;
    justify-content: left;
    display:inline-flex;
}
.cat-logo img{
    width:60px;
    height:60px; 
}
.text-logo{
    font-size: 50px;
    text-align: center;
}
.search {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    display:inline-flex;
}
.search input{
    min-width: 80%;
    min-height: 30px;
}
.search button{
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
}
.btn-search-voice{
    background-color: snow;
}
.bell_paw_icon {
    flex-grow: 1; 
    align-items: center;
    display: inline-flex;
    justify-content:flex-end;
}
.search-voice,
.search-icon{
    width:25px;
    height:25px;
}
.bell-icon,
.paw-icon{
    width:30px;
    height:30px;
}
.bell-icon{
    margin-right: 10px;
}
.menu-icon{
    position: relative;
    display: inline-block; 
}
.menu{
    visibility: hidden;
    position: absolute;
    flex-direction: column;
    background-color: #dedede;
    border: 2px solid rgba(8, 8, 8, 0.342);
    border-radius: 10px;
    width: 200px;
    height: 130px;
    right: 0;
}
.menu-icon:hover .menu{
    visibility:visible;
}
.menu-line{
    display: inline-flex;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    width: -webkit-fill-available;
}
.menu-line a{
    text-decoration: none;
    color: black;
}
.menu-line:hover{
    background-color: #9090a738;
}
.menu-line img{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}
.main-content{
    padding-top: 60px;
    min-height: 100%;
}
.side_panel{
    position: fixed;
    min-width: 300px;
    min-height: 100%;
    max-width: 300px;
    max-height: 100%;
    background-color:#dedede;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
}
.streamer{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
}
.streamer-img{
    width:50px;
    height:50px;
    border-radius: 40px;
    background-color: white;
    align-items: center;
    justify-content: center;
}
.streamer-img img{
    width:30px;
    height:30px;
    position: relative;
    left: 10px;
    top: 10px;
}
.streamer-name{
    flex-grow: 5;
    align-items: center;
    justify-content: left;
}
.streamer-name h3{
    display: block;
    padding: 10px;
}
.streamers{
    height: 80%;
    border-bottom: white;
    border-radius: 3px;
}
.information{
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #898989;
    border-radius: 10px;
}
.information h2{
    display: block;
    text-align: center;
}
.sotial-network{
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 56px);
    justify-items: center;
    align-self: end;
}
.information img{
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
    border-radius: 30px;
}
.main_panel{
    margin-left: 310px;
    margin-top: 20px;
}
.main-panel-links{
    display: flex;
    overflow: auto;
    margin-left: 10px;
}
.main-panel-links ul{
    display: inline-flex;
    height: 40px;
}
.main_panel li{
    display: flex;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 30px;
    background-color: #fafafa00;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
    border: 2px solid rgba(8, 8, 8, 0.342);
}
.main_panel li a{
    text-decoration: none;
    color: black;
    white-space: nowrap;
}
.main_panel li:hover{
    background-color: #817f7faf;
}
.main_panel li:hover a{
    color: rgb(255, 255, 255);
}

.videos{
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-gap: 10px;
    margin-top: 10px;
    
}
.video{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
    
}
.video-img{
    position: relative;
}
.video-img .main-video-img{
    height: 230px;
    width: 100%;
    background-size: cover;
    padding: 10px;
}
.video-hover-img{
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.video-hover-img{
    width: 50px;
    height: 50px;
    opacity: 90%;
}
.video:hover .main-video-img{
    opacity: 20%;
}
.video:hover .video-hover-img{
    visibility: visible;
    opacity: 50%;
}
.avatar-name{
    display: inline-flex;
    align-items: center;
}
.footer{
    display: inline-flex;
    padding: 15px;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.footer-img img{
    height: 40px;
    margin-left: 10px;
}






